<h1>Admin::Dashboard#show</h1>
<table class="table table-bordered">

  <thead>
    <tr>
      <th>Categories</th>
      <td><a href="/admin/categories"><%= @Category.all %></a></td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total number of products</th>
      <td><a href="/admin/products"><%= @Product.all %></a></td>
    </tr>
  </tfoot>
</table>
